<h1>I found some new debris!</h1>
<form>
	<input type="file">
	<input type="color" name="color">
	<input type="checkbox" name='material' value="plastic"> Plastic 
	<input type="checkbox" name='material' value="metal"> Metal
	<input type="checkbox" name='material' value="wood"> Wood
	<input type='checkbox' name='material' value ='glass'> Glass
	<input id = 'location' type="text" name="location" value='' hidden>
	<script type="text/javascript" src="../scripts/geolocation.js"></script>
	<input type="submit">
</form>