<!DOCTYPE html>
<html>
<head>
	<title></title>
	<link rel="stylesheet" type="text/css" href="../styles/styles.css">
</head>
<body>
	<h1 class = 'center'>I found some new debris!</h1>
	<form action='/' method='POST'>
		<div id = 'formFlexBox'>
			<div class='formFlex' id='checkboxes'>
				<div class= 'checkFlex'>
					<input type="checkbox" name='material' value="hardPlastic"> <span>Hard Plastic</span><br>
					<input type="checkbox" name='material' value="softPlastic"> <span>Soft Plastic</span><br>
					<input type="checkbox" name='material' value="foamPlastic"> <span>Foam Plastic</span><br>
					<input type="checkbox" name='material' value="paper"> <span>Paper/Cardboard</span><br>
					<input type="checkbox" name='material' value="rubber"> <span>Rubber</span><br>
					<input type="checkbox" name='material' value="cementCeramic"> <span>Cement/Ceramic</span><br>
				</div>
				<div class= 'checkFlex'>
					<input type="checkbox" name='material' value="metal"><span> Metal</span><br>
					<input type="checkbox" name='material' value="wood"><span> Wood</span><br>
					<input type="checkbox" name='material' value="bamboo"> <span>Bamboo</span><br>
					<input type='checkbox' name='material' value ='glass'><span> Glass</span><br>
					<input type="checkbox" name='material' value="other"> <span>Other</span><br>
					<input type="checkbox" name='material' value="Unknown"> <span>Unknown</span><br>
				</div>
			</div>
			<div id = 'selectedColor' class='formFlex'>
				<select id = 'colorPicker'>
					<option value='#F0F1F3'>White</option>
					<option value='#CA0C00'>Red</option>
					<option value='#CC3900'>Orange-Red</option>
					<option value='#F35400'>Orange</option>
					<option value='#FCAC01'>Golden Yellow</option>
					<option value='#F3E513'>Yellow</option>
					<option value='#01A21D'>Yellow Green</option>
					<option value='#007447'>Green</option>
					<option value='#039A96'>Torquoise</option>
					<option value='#0632AD'>Blue</option>
					<option value='#5A2E6B'>Violet</option>
					<option value='#6B002D'>Deep Purple</option>
					<option value='#4F3220'>Brown</option>
					<option value='#8A8F8B'>Gray/Silver</option>
					<option value='#0E0C0D'>Black</option>
					<option value='white'>Clear</option>
				</select>
			</div>
		</div>
		<div id='lengthDiv'>
			<h5 class='center'>Length(cm)</h5>
			<input class = 'lengthInput' type="length" name="number"> <br>
			<h3 id='screenWidth' class='center'>Your phone is ~8cm across</h3>
		</div>
		<img id='lengthStrip'src="../assets/drawisland.png">
		<input id = 'location' type="text" name="location" value='' hidden>
		<input type="text" name="imageUrl" value='<%=imageUrl%>' hidden>
		<input type="submit" id = 'finalSubmit'>
		<script type="text/javascript" src="scripts/geolocation.js"></script>
		<script type="text/javascript" src="scripts/colorpicker.js"></script>
	</form>
</body>
</html>