<!DOCTYPE html>
<html>
<head>
	<title></title>
</head>
<body>
	<form id='uploadBtn' method='POST' enctype="multipart/form-data">
		<input type="file" name = 'imageUpload' id ='imageUpload'><br>
		<input type="submit" name="">
	</form>

	<script type="text/javascript">
        $(document).ready(function () {
            $(function () {
				$('#uploadBtn').submit();
				});
			});
        });
   	</script>
</body>
</html>