select{
	width: 50%;
	margin:0 auto;

}

.debrisContainer {
	display: flex;
	flex-wrap:wrap;
	justify-content: left;
}

.debrisPhotoDiv {
	height: 200px;
	width:200px;
}

.center {
	text-align: center;
}

.debrisPhoto {
	height: 100%;
	width:100%;
}
#blueOption {
	color: blue;
	font-size: 96px;
}

#lengthDiv{
	width: 100vw;
}
#lengthStrip {
	width: 100%;
	height: 200px;
}
#selectedColor {
	height: 25px;
	width: 25px;
}

img {
    width: 100%;
}

#filter{
  margin-left: 13px;
}

#upload {
	margin-left: 13px;
}


.btn-xlarge {
    padding: 15px 22px;
    font-size: 35px;
    line-height: normal;
    -webkit-border-radius: 8px;
       -moz-border-radius: 8px;
            border-radius: 8px;
}

.top-buffer { margin-top:15px; }

#headline {
  font-size: 500%;
}