span{
	font-size:20px;
	padding:20px;
}


.debrisContainer {
	display: flex;
	flex-wrap:wrap;
	justify-content: left;
}

.debrisPhotoDiv {
	height: 200px;
	width:200px;
}

.center {
	text-align: center;
}

.debrisPhoto {
	height: 100%;
	width:100%;
}

.formFlex{
	width:45%;
	background:#ecf0f1;
	height: 30vh;
	border-radius: 5px;
	box-shadow: 1px 1px black;
}

input[type=checkbox] {
	margin:10px;
  transform: scale(2);
}
.checkFlex {
	width:45%;
}

.lengthInput{
	width:100%;
}

#colorPicker {
	width:100%;
	size: 50px;
}

#selectedColor {
	display:flex;
	align-items: center;
}

#lengthDiv{
	width: 33%;
	margin:0 auto;
}

#lengthStrip{
	width: 100vw;
	margin-top:-200px;
}

#formFlexBox {
	display: flex;
	justify-content: space-around;
}

#checkboxes {
	display: flex;
	justify-content: space-between;
}

#finalSubmit {
	width: 100%
	size:25px;
}

#selectedColor {
	height: 25px;
	width: 25px;
}

img {
    width: 100%;
}

#filter{
  margin-right: 13px;
}

.btn-xlarge {
    padding: 15px 22px;
    font-size: 15px;
    line-height: normal;
    -webkit-border-radius: 8px;
       -moz-border-radius: 8px;
            border-radius: 8px;
}

.top-buffer { 
  margin-top:15px; 
}

#headline {
  font-size: 500%;
}